@import "tailwindcss";

:root {
  --dividers-gray: #CDD1D9;

  --neutrals-50: #F5F6F9;
  --neutrals-100: #EEF0F5;
  --neutrals-500: #6D6F73;
  --neutrals-700: #393A3C;
  --neutrals-900: #202326;

  --purple-200: #EECFFC;
  --purple-500: #7B1FA2;
  --purple-700: #580F78;

  --teal-600: #027A7A;

  --text-primary: var(--neutrals-900);
  --text-medium: var(--neutrals-700);

  --brand: var(--purple-500);

}

* {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  color: var(--text-primary);
  max-width: 100vw;
}